$color-white: #ffffff;
$color-balck: #000000;
$color-grey-lightest: #f1f1f1;

$color-text: #333333;
$color-link: #649abb;
$color-border: #cccccc;
$color-button-default: #ebebeb;
$color-button-primary: #649abb;