.container {
  max-width: $container-width-max;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

@media (min-width: $screen-xs) {
  .container {
    max-width: $container-width-max-xs;
  }
}

.row {
  margin-left: -$gutter-width;
  margin-right: -$gutter-width;
}

[class*="col-"] {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

@media (min-width: $screen-xs) {
  .col-6 {
    width: 50%;
    float: left;
  }
}