$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$container-width-max: 320px;
$container-width-max-xs: 576px;
$gutter-width: 15px;
$spacing: 20px;

$font-size-base: 16px;
$font-size-headline: 24px;

$border-radius-control: 2px;
$border-radius-button: 3px;